# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|

  config.vm.box = "Gentoo"
  config.vm.boot_timeout = 300

  # SSH config
  config.ssh.username = 'vagrant'
  config.ssh.password = 'password'
  config.ssh.insert_key = true

  config.vm.provider "virtualbox" do |v|
    v.name = "Gentoo"
    v.gui = true
    v.memory = 8192
    v.cpus = 4
  end

end